name: Postman Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '00 1 * * *'
    - cron: '00 9 * 1 *'

jobs:
  run-postman-tests:
    runs-on: ec2-github-runner
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Install Node.js and npm
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '22'

      - name: Install Newman and Html-extra globally
        run: |
          npm install -g newman
          npm install -g newman-reporter-htmlextra

      - name: Run the Postman Collection with newman
        run: |
          newman run 'Inwarranty-flow Collection Copy 2.postman_collection.json' \
          -e QA.postman_environment.json \
          -d testdata.csv \
          -r cli,htmlextra \
          --reporter-htmlextra-export ./newman/index.html

      - name: Newman Report
        if: always() #ensure that the archive executed irrespective whether the previous step has passes or not
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Newman Reports
          path: newman/*.html

      - name: Creating Github page branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/

      - name: Send email notification
        if: always()
        uses: dawidd6/action-send-mail@v6
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: Phoenix Inwarranty Flow Test Execution Notifications
          to: ojhaankit.116@gmail.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
            Hi,
            Phoenix Inwarranty Flow Tests has been executed. The Report has been published and the URL
            is: https://ojhaankit116.github.io/Phoenix-Inwarranty-Flow-copy-2/



          
